*, 
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

:root {
  font-family: 'Gotham Pro', sans-serif;
}

.page { 
  background-color: #d8d8d8;
  padding: 12.5px;
}

.day-list {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(260px, 410px));
  column-gap: 12.5px;
  row-gap: 20px;
}

.day-card__day {
  text-transform: uppercase;
}

.day-card__title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.day-card__content {
  border-radius: 10px;
  background-color: #EDEDED;
  padding: 10px 10px;
}

.day-card__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-block-end: 5px;
}

.subject-school:last-of-type,
.subject-note:last-of-type {
  padding-block-end: 10px;
}

.subject-train:last-of-type {
  padding-block-end: 10px;
}

.subject-school:first-of-type,
.subject-note:first-of-type,
.subject-train:first-of-type {
  padding-block-start: 5px;
}

.subject {
  display: flex;
  align-items: center;
  gap: 5px;
}

.subject-name {
  min-height: 30px;
  padding: 5px;
  font-size: 16px;
  height: 100%;
  flex-grow: 1;
  border-radius: 5px;
  display: grid;
  place-items: center;
  font-weight: 600;
  text-align: center;
}

.subject-name__school {
  background-color: #D4F6F9;
}

.subject-name__school-section {
  background-color: #E5FFDE;
}

.subject-name__note {
  background-color: #FF9090;
}

.subject-name__train {
  background-color: #FFE6B8;
}

.time {
  width: 50px;
  flex-shrink: 0;
  height: 22px;
  display: block;
  font-size: 14px;
  background-color: #fff;
  border-radius: 5px;
  display: grid;
  place-items: center;
}

.day-card__things {
  list-style-type: disc;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
}

.day-card__thing {
  margin-inline-start: 20px;
}

.button {
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1 / 1;
  background-color: #d54848;
  border: none;
  font-size: 40px;
  color: #fff;
}

.button:hover {
  background-color: #ad2626;
  cursor: pointer;
}

.button:active {
  background-color: #d54848;
}

.button-add-note {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
