@import "fonts.css";
@import "variables.css";

*, 
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.page {
  font-family: 'Gotham Pro', sans-serif;
  position: relative;
  background-color: var(--color-bg);
  padding: 12.5px;
}

.day-list {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(260px, 410px));
  column-gap: 12.5px;
  row-gap: 20px;
}

.day-card__day {
  text-transform: uppercase;
}

.day-card__title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.day-card__content {
  border-radius: 10px;
  background-color: var(--color-card);
  padding: 10px 10px;
}

.day-card__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-block-end: 5px;
}

.subject-school:last-of-type,
.subject-note:last-of-type {
  padding-block-end: 10px;
}

.subject-train:last-of-type {
  padding-block-end: 10px;
}

.subject-school:first-of-type,
.subject-note:first-of-type,
.subject-train:first-of-type {
  padding-block-start: 5px;
}

.subject {
  display: flex;
  align-items: center;
  gap: 5px;
}

.subject-name {
  min-height: 30px;
  padding: 5px;
  font-size: 16px;
  height: 100%;
  flex-grow: 1;
  border-radius: 5px;
  display: grid;
  place-items: center;
  font-weight: 600;
  text-align: center;
}

.subject-name__school {
  background-color: var(--color-subject-school);
}

.subject-name__school-section {
  background-color: var(--color-subjet-section);
}

.subject-name__note {
  background-color: var(--color-subject-note);
}

.subject-name__train {
  background-color: var(--color-subject--train);
}

.time {
  width: 50px;
  flex-shrink: 0;
  height: 22px;
  display: block;
  font-size: 14px;
  background-color: var(--color-white);
  border-radius: 5px;
  display: grid;
  place-items: center;
}

.day-card__things {
  list-style-type: disc;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--color-white);
}

.day-card__thing {
  margin-inline-start: 20px;
}

.button {
  border: none;
  outline: none;
  font-family: inherit;
}

.button-add-note:hover {
  background-color: var(--color-button);
  cursor: pointer;
}

.button-add-note:active {
  background-color: var(--color-button-accent);
}

.button-add-note {
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1 / 1;
  background-color: var(--color-button-accent);
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.dialog-add-note {
  position: absolute;
  margin-inline: auto;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-card);
}

.form-add-note {
  padding-block-start: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.dialog-add-note::backdrop {
  background-color: var(--color-black);
  opacity: 0.5;
}

.label-add-note__date {
  grid-column: 1 / 3;
}

.label-add-note__text {
  grid-column: 1 / 3;
}

.add-note-button-submit {
  grid-column: 1 / 3;
}

.button-close {
  width: 40px;
  aspect-ratio: 1 / 1;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(./images/cross.svg);
  background-size: contain;
  grid-column: 1 / 2;
}

.input-add-note {
  margin-block-start: 5px;
  min-height: 3em;
  width: 100%;
}

.add-note-button-submit {
  background-color: var(--color-button-accent);
  font-size: 16px;
  min-height: 3em;
  border-radius: 5px;
  color: var(--color-white);
}

.add-note-button-submit:hover {
  background-color: var(--color-button);
}

.add-note-button-submit:active {
  background-color: var(--color-button-accent);
}